/*Fonst var______________*/
$main-font-stack: 'Ubuntu', 'Times New Roman', sans-serif;
$caption-font-stack: 'Open Sans', sans-serif;

/* Color stack__________*/
$main-text-color: #fff;
$black-decore-color: #222222;
$section-decore-color: #444444;
$main-decore-color: #fcae26;
$footer-text-color: #9699a6;
$main-decore-color-hover: #26dcfc;

$section-bg-color: #fafafa;
$section-bg-decore-color: #824fe3;

// BG COLOR
$section-bg-aquamarine-color: #baebe9;
$section-bg-yelow-color: #faebd0;
$section-bg-orange-color: #ffddd3;
$section-bg-purple-color: #e7d9f6;
$section-bg-border: #e3e3e4;
  
$main-font-size: 18px;
$title-font-size-mobile: 20px;
$title-font-size-tablet: 33px;

$item-title-fz-mobile: 25px;
$item-title-fz-tablet: 30px;

$primary-item-font-size: 14px;
$secondary-item-font-size: 16px;
$thirdly-item-font-size: 18px;
$sup-font-size: 13px;

$primary-item-line-height: 20px;
$secondary-item-line-height: 22px;
$thirdly-item-line-height: 30px;
$fourthly-item-line-height: 28px;
$fifthly-item-line-height: 24px;
$sup-line-height: 16px;